h1, form, p {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  padding: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 30px;
}

body {
  background-image: url("https://github.com/alielachkar/alielachkar.github.io/blob/main/seg3525-lab-1/images/background.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat';
  vertical-align: middle;
  color: white;
}

 /* unvisited link */
a:link {
  color: rgb(56, 139, 216);
}

/* visited link */
a:visited {
  color: rgb(56, 139, 216);
}

/* mouse over link */
a:hover {
  color: rgb(33, 83, 131);
}

/* selected link */
a:active {
  color: rgb(56, 139, 216);
}

input[type="text"] { 
  padding: 20px 10px; 
  line-height: 100px; 
  width: 700px;
}

input[type="submit"]  {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
